$bg-color-primary: #0B0D17;
$bg-color-primary-transparent: rgba(11, 13, 23, 0.97);
$color-primary-transparent: rgba(255, 255, 255, 0.136);
$color-primary: #FFFFFF;
$color-secondary: #D0D6F9;
$font-size: 16px;
$transition-quick: 0.5s;
