// @import './_variables.scss';

* {
  box-sizing: border-box;
  font-size: $font-size;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: url(../home/background-home-mobile.jpg) no-repeat #0B0D17;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: 100vw;

  // @include tablet {
  //   width: 90%;
  // }
}
