@import './_variables.scss';
@import './_animations.scss';

* {
  box-sizing: border-box;
  font-size: $font-size;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: 100vw;

  // @include tablet {
  //   width: 90%;
  // }
}
    
.content {
    margin-top: 5.5rem;
    text-align: center;
  }
