.home-container {
    margin-top: 3rem;
    
    .title {
        
        .small {
            font-family: "Barlow Condensed", sans-serif;
            font-weight: 400;
            letter-spacing: 2.7px;
            text-transform: uppercase;
        }
        
        .big {
            font-family: "Bellefair", serif;
            font-size: 5rem;
            font-weight: 400;
            margin-top: 1rem;
            text-transform: uppercase;
        }

        .description {
            color: $color-secondary;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 0.935rem; //15px
            line-height: 25px;
            margin-top: 1rem;
        }
    }
}