.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
        height: 40px;
        width: 40px;
    }
}

.divider {
    border: 1px solid red;
    height: 1px;
    // width: 450px;
}

.hamburger {
    color: $color-primary;
}

.links-list {
    // display: flex;
    list-style-type: none;
    text-align: left;

    .link > * {
        margin-top: 16px;
        text-decoration: none;
    }
}