.navbar {
    width: 100%;

    .logo {
        height: 40px;
        width: 40px;
    }

    .divider {
        // border: 1px solid red;
        height: 1px;
        width: 450px;
    }
    .background {
        // filter: blur(2px);
        // height: 100vh;  
        width: 100%;
        z-index: 1;
    }

    .content {
        display: flex;  
        align-items: center;
        justify-content: space-between;
        
        .transition-wrapper {
            background: $bg-color-primary-transparent;
            height: 100vh;
            width: 254px;
            padding-top: 96px;
            padding-left: 32px;
            position: absolute;
            left: 121px;
            top: 0px;
        }
        
        .link-list {
            outline: 1px solid green;
            // DESIGN ORIGINAL
            // background: rgba(255, 255, 255, 0.04);
            list-style-type: none;
            text-align: left;
            transition: all $transition-quick;
        }
    
        li {
            font-family: "Barlow Condensed", sans-serif;
            letter-spacing: 2.7px;
            margin-top: 32px;
            text-decoration: none;
    
            .link {
                color: $color-primary;
        
                .number {
                    font-weight: 700;
                }
        
                .name {
                    font-weight: 400;
                    margin-left: 11px;
                    text-transform: uppercase;
                }
    
            }
        }
    }
}
  