.main-btn {
    border: 0px;
    border-radius: 50%;
    font-family: "Bellefair", serif;
    font-size: 1.25rem; //20px
    height: 150px;
    width: 150px;
    text-transform: uppercase;

    &:hover {
        outline: 3rem solid $outline-bg-color-primary-transparent;
    }
}